/* Write your CSS here */
.container {
  background-color: #1e293b;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.head {
  color: #f0bb03;
}
.Button {
  height: 40px;
  width: 120px;
  border-radius: 10px;
}
